angular2-project-dev/wsdl/AccountService/AccountService.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ecaps.ctl.com/service/account" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://ecaps.ctl.com/exceptions" name="AccountService" targetNamespace="http://ecaps.ctl.com/service/account">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ecaps.ctl.com/serviceObject" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ecaps.ctl.com/serviceObject" version="1.0">

  <xs:element name="FaultDetailSO" type="tns:FaultDetailSO"/>

  <xs:complexType name="EntitledAccountResponseSO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="accounts" nillable="true" type="tns:EntitledAccountSO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EntitledAccountSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountAliasName" type="xs:string"/>
      <xs:element minOccurs="0" name="accountChannelId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountMarketUnitId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountName" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
      <xs:element minOccurs="0" name="accountTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="billingAddressLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="billingAddressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="billingCity" type="xs:string"/>
      <xs:element minOccurs="0" name="billingPostalCode" type="xs:string"/>
      <xs:element minOccurs="0" name="billingStateProvinceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="bossBtnCc" type="xs:string"/>
      <xs:element minOccurs="0" name="ctaId" type="xs:string"/>
      <xs:element minOccurs="0" name="discountGroupId" type="xs:string"/>
      <xs:element name="marketingIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="sourceSystem" type="xs:string"/>
      <xs:element minOccurs="0" name="sourceSystemCode" type="xs:string"/>
      <xs:element minOccurs="0" name="statusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="subAccountGroupId" type="xs:string"/>
      <xs:element name="subAccountIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="subAccountTypeCode" type="xs:string"/>
      <xs:element name="userAssigned" type="xs:boolean"/>
      <xs:element name="userEntitled" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FaultDetailSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="messageCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountRefSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RegAccountStatusSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
      <xs:element minOccurs="0" name="actionStatus" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountMappingSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
      <xs:element minOccurs="0" name="oldAccountId" type="xs:string"/>
      <xs:element minOccurs="0" name="oldAccountSystemCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountStatusSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountChannelId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountName" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
      <xs:element minOccurs="0" name="availabilityStatusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="bossBtnCc" type="xs:string"/>
      <xs:element minOccurs="0" name="disconnectDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="disconnectedMonths" type="xs:float"/>
      <xs:element minOccurs="0" name="rjsAccountId" type="xs:string"/>
      <xs:element minOccurs="0" name="statusCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DiscountGroupSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="discountGroupId" type="xs:string"/>
      <xs:element minOccurs="0" name="discountGroupType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountDetailSO">
    <xs:complexContent>
      <xs:extension base="tns:AccountSO">
        <xs:sequence>
          <xs:element minOccurs="0" name="billingAddress1" type="xs:string"/>
          <xs:element minOccurs="0" name="billingAddress2" type="xs:string"/>
          <xs:element minOccurs="0" name="billingAddress3" type="xs:string"/>
          <xs:element minOccurs="0" name="billingCity" type="xs:string"/>
          <xs:element minOccurs="0" name="billingCountryCode" type="xs:string"/>
          <xs:element minOccurs="0" name="billingPostalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="billingStateProvinceCode" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AccountSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountAliasName" type="xs:string"/>
      <xs:element minOccurs="0" name="accountChannelId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountDisplayName" type="xs:string"/>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountMarketUnitId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountName" type="xs:string"/>
      <xs:element minOccurs="0" name="accountRegionCode" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
      <xs:element minOccurs="0" name="accountTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="bossBtnCc" type="xs:string"/>
      <xs:element minOccurs="0" name="ctaId" type="xs:string"/>
      <xs:element minOccurs="0" name="disconnectDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="discountGroupId" type="xs:string"/>
      <xs:element name="marketingIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="rjsAccountId" type="xs:string"/>
      <xs:element minOccurs="0" name="salesRepId" type="xs:string"/>
      <xs:element minOccurs="0" name="sourceSystem" type="xs:string"/>
      <xs:element minOccurs="0" name="sourceSystemCode" type="xs:string"/>
      <xs:element minOccurs="0" name="statusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="subAccountGroupId" type="xs:string"/>
      <xs:element name="subAccountIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="subAccountTypeCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountRequestSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="entitlement" type="tns:EntitlementSO"/>
      <xs:element minOccurs="0" name="filterExpression" type="tns:FilterExpressionSO"/>
      <xs:element minOccurs="0" name="pageData" type="tns:PageSO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EntitlementSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="enterpriseId" type="xs:long"/>
      <xs:element minOccurs="0" name="userId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FilterExpressionSO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="tns:FilterConditionSO"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="expression" nillable="true" type="tns:FilterExpressionSO"/>
      <xs:element minOccurs="0" name="operator" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FilterConditionSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="conditionalOperator" type="xs:string"/>
      <xs:element minOccurs="0" name="filter" type="tns:FilterSO"/>
      <xs:element minOccurs="0" name="ignoreCase" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="FilterSO">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="PageSO">
    <xs:sequence>
      <xs:element name="blockSize" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sortData" nillable="true" type="tns:SortSO"/>
      <xs:element name="startIndex" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SortSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="sortColumn" type="xs:string"/>
      <xs:element minOccurs="0" name="sortDirection" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountFilterSO">
    <xs:complexContent>
      <xs:extension base="tns:FilterSO">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountAliasName" type="xs:string"/>
          <xs:element minOccurs="0" name="accountId" type="xs:string"/>
          <xs:element minOccurs="0" name="accountName" type="xs:string"/>
          <xs:element minOccurs="0" name="accountRegionCode" type="xs:string"/>
          <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
          <xs:element minOccurs="0" name="accountTypeCode" type="xs:string"/>
          <xs:element minOccurs="0" name="excludeNonEnterpriseCabsAccounts" type="xs:boolean"/>
          <xs:element minOccurs="0" name="excludeNonEnterpriseIabsAccounts" type="xs:boolean"/>
          <xs:element minOccurs="0" name="includeProductAccountsOnly" type="xs:boolean"/>
          <xs:element minOccurs="0" name="productTypeCode" type="xs:string"/>
          <xs:element minOccurs="0" name="statusCode" type="xs:string"/>
          <xs:element minOccurs="0" name="subAccountGroupId" type="xs:string"/>
          <xs:element minOccurs="0" name="subAccountIndicator" type="xs:boolean"/>
          <xs:element minOccurs="0" name="subAccountTypeCode" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AccountResponseSO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="accounts" nillable="true" type="tns:AccountSO"/>
      <xs:element name="rowCount" type="xs:int"/>
      <xs:element name="totalRowCount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WhslAcctAttributeSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
      <xs:element minOccurs="0" name="addressMandatoryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="cardStockCode" type="xs:string"/>
      <xs:element minOccurs="0" name="cicCode" type="xs:string"/>
      <xs:element minOccurs="0" name="internationalCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuthenticationSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="adminRealm" type="xs:string"/>
      <xs:element minOccurs="0" name="adminUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="authenticationMethod" type="xs:string"/>
      <xs:element minOccurs="0" name="clearTrustToken" type="xs:string"/>
      <xs:element minOccurs="0" name="origPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="origRealm" type="xs:string"/>
      <xs:element minOccurs="0" name="origUsername" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="AccountRegStatusT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASSIGNED"/>
      <xs:enumeration value="REMOVED"/>
      <xs:enumeration value="ERROR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AvailabilityStatusCodeT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AVAILABLE"/>
      <xs:enumeration value="ALREADY_ASSIGNED"/>
      <xs:enumeration value="ALREADY_ASSIGNED_TO_ENTERPRISE"/>
      <xs:enumeration value="UNKNOWN_ACCOUNT"/>
      <xs:enumeration value="INVALID_ACCOUNT_FOR_ASSIGNMENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ConditionalOperatorT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EQ"/>
      <xs:enumeration value="GE"/>
      <xs:enumeration value="GT"/>
      <xs:enumeration value="LE"/>
      <xs:enumeration value="LT"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="IS_NULL"/>
      <xs:enumeration value="NOT_NULL"/>
      <xs:enumeration value="IN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BooleanOperatorT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AND"/>
      <xs:enumeration value="OR"/>
      <xs:enumeration value="NOT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SortDirectionT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending"/>
      <xs:enumeration value="Descending"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AccountFieldsT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="accountId"/>
      <xs:enumeration value="accountSystemCode"/>
      <xs:enumeration value="accountName"/>
      <xs:enumeration value="accountChannelId"/>
      <xs:enumeration value="accountTypeCode"/>
      <xs:enumeration value="subAccountGroupId"/>
      <xs:enumeration value="subAccountTypeCode"/>
      <xs:enumeration value="statusCode"/>
      <xs:enumeration value="disconnectDate"/>
      <xs:enumeration value="ctaId"/>
      <xs:enumeration value="discountGroupId"/>
      <xs:enumeration value="salesRepId"/>
      <xs:enumeration value="sourceSystemCode"/>
      <xs:enumeration value="sourceSystem"/>
      <xs:enumeration value="accountMarketUnitId"/>
      <xs:enumeration value="accountAliasName"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AccountRegionCodeT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IR"/>
      <xs:enumeration value="OOR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AccountSystemCodeT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CABS"/>
      <xs:enumeration value="CRIS"/>
      <xs:enumeration value="IABS"/>
      <xs:enumeration value="ENS"/>
      <xs:enumeration value="LATIS"/>
      <xs:enumeration value="NIBS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AccountTypeCodeT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="IG"/>
      <xs:enumeration value="MSB"/>
      <xs:enumeration value="SUB-ACCT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SubAccountTypeCodeT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IG"/>
      <xs:enumeration value="MSB"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AuthenticationMethodT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PASSWORD"/>
      <xs:enumeration value="CLEARTRUST"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserRealmT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PARTNER"/>
      <xs:enumeration value="EMPLOYEE"/>
      <xs:enumeration value="LOCAL"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ecaps.ctl.com/service/account" xmlns:ns1="http://ecaps.ctl.com/serviceObject" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ecaps.ctl.com/service/account">
  <xs:import namespace="http://ecaps.ctl.com/serviceObject"/>
  <xs:element name="assignAccountToEnterprise" type="tns:assignAccountToEnterprise"/>
  <xs:element name="assignAccountToEnterpriseResponse" type="tns:assignAccountToEnterpriseResponse"/>
  <xs:element name="assignAccountToEnterpriseWithLookup" type="tns:assignAccountToEnterpriseWithLookup"/>
  <xs:element name="assignAccountToEnterpriseWithLookupResponse" type="tns:assignAccountToEnterpriseWithLookupResponse"/>
  <xs:element name="assignAccountToUser" type="tns:assignAccountToUser"/>
  <xs:element name="assignAccountToUserResponse" type="tns:assignAccountToUserResponse"/>
  <xs:element name="assignAccountToUsers" type="tns:assignAccountToUsers"/>
  <xs:element name="assignAccountToUsersResponse" type="tns:assignAccountToUsersResponse"/>
  <xs:element name="assignAccountsOrGroupsToEnterprise" type="tns:assignAccountsOrGroupsToEnterprise"/>
  <xs:element name="assignAccountsOrGroupsToEnterpriseResponse" type="tns:assignAccountsOrGroupsToEnterpriseResponse"/>
  <xs:element name="assignAccountsToUser" type="tns:assignAccountsToUser"/>
  <xs:element name="assignAccountsToUserResponse" type="tns:assignAccountsToUserResponse"/>
  <xs:element name="checkAccountStatus" type="tns:checkAccountStatus"/>
  <xs:element name="checkAccountStatusResponse" type="tns:checkAccountStatusResponse"/>
  <xs:element name="getAccountDetailById" type="tns:getAccountDetailById"/>
  <xs:element name="getAccountDetailByIdResponse" type="tns:getAccountDetailByIdResponse"/>
  <xs:element name="getAccountMapping" type="tns:getAccountMapping"/>
  <xs:element name="getAccountMappingResponse" type="tns:getAccountMappingResponse"/>
  <xs:element name="getAccounts" type="tns:getAccounts"/>
  <xs:element name="getAccountsResponse" type="tns:getAccountsResponse"/>
  <xs:element name="getDiscountGroupsByEnterprise" type="tns:getDiscountGroupsByEnterprise"/>
  <xs:element name="getDiscountGroupsByEnterpriseResponse" type="tns:getDiscountGroupsByEnterpriseResponse"/>
  <xs:element name="getDiscountGroupsByUsername" type="tns:getDiscountGroupsByUsername"/>
  <xs:element name="getDiscountGroupsByUsernameResponse" type="tns:getDiscountGroupsByUsernameResponse"/>
  <xs:element name="getEntitledAccounts" type="tns:getEntitledAccounts"/>
  <xs:element name="getEntitledAccountsResponse" type="tns:getEntitledAccountsResponse"/>
  <xs:element name="getWholesaleData" type="tns:getWholesaleData"/>
  <xs:element name="getWholesaleDataByEnterprise" type="tns:getWholesaleDataByEnterprise"/>
  <xs:element name="getWholesaleDataByEnterpriseResponse" type="tns:getWholesaleDataByEnterpriseResponse"/>
  <xs:element name="getWholesaleDataResponse" type="tns:getWholesaleDataResponse"/>
  <xs:element name="ping" type="tns:ping"/>
  <xs:element name="pingResponse" type="tns:pingResponse"/>
  <xs:element name="removeAccountFromEnterprise" type="tns:removeAccountFromEnterprise"/>
  <xs:element name="removeAccountFromEnterpriseResponse" type="tns:removeAccountFromEnterpriseResponse"/>
  <xs:element name="removeAccountFromUser" type="tns:removeAccountFromUser"/>
  <xs:element name="removeAccountFromUserResponse" type="tns:removeAccountFromUserResponse"/>
  <xs:element name="updateAccountAlias" type="tns:updateAccountAlias"/>
  <xs:element name="updateAccountAliasResponse" type="tns:updateAccountAliasResponse"/>
  <xs:element name="updateAccountMarketingIndicator" type="tns:updateAccountMarketingIndicator"/>
  <xs:element name="updateAccountMarketingIndicatorResponse" type="tns:updateAccountMarketingIndicatorResponse"/>
  <xs:complexType name="getEntitledAccounts">
    <xs:sequence>
      <xs:element name="enterpriseId" type="xs:long"/>
      <xs:element minOccurs="0" name="userId" type="xs:long"/>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEntitledAccountsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:EntitledAccountResponseSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountsToUser">
    <xs:sequence>
      <xs:element name="userId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" name="accounts" type="ns1:AccountRefSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountsToUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:RegAccountStatusSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeAccountFromEnterprise">
    <xs:sequence>
      <xs:element name="enterpriseId" type="xs:long"/>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeAccountFromEnterpriseResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAccountMapping">
    <xs:sequence>
      <xs:element name="userId" type="xs:long"/>
      <xs:element name="enterpriseId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountMappingResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:AccountMappingSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkAccountStatus">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="accountIds" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
      <xs:element minOccurs="0" name="enterpriseId" type="xs:long"/>
      <xs:element minOccurs="0" name="enterpriseChannelCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkAccountStatusResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:AccountStatusSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDiscountGroupsByEnterprise">
    <xs:sequence>
      <xs:element name="enterpriseId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" name="discountGroupType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDiscountGroupsByEnterpriseResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:DiscountGroupSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountToUsers">
    <xs:sequence>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element name="accountSystemCode" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="userIds" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountToUsersResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getDiscountGroupsByUsername">
    <xs:sequence>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="enterpriseId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" name="discountGroupType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDiscountGroupsByUsernameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:DiscountGroupSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountDetailById">
    <xs:sequence>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element name="accountSystemCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountDetailByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:AccountDetailSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeAccountFromUser">
    <xs:sequence>
      <xs:element name="userId" type="xs:long"/>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeAccountFromUserResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAccounts">
    <xs:sequence>
      <xs:element name="accountRequest" type="ns1:AccountRequestSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:AccountResponseSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountToUser">
    <xs:sequence>
      <xs:element name="userId" type="xs:long"/>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountToUserResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="assignAccountToEnterpriseWithLookup">
    <xs:sequence>
      <xs:element name="enterpriseId" type="xs:long"/>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element name="accountSystemCode" type="xs:string"/>
      <xs:element name="allowInactive" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountToEnterpriseWithLookupResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="updateAccountMarketingIndicator">
    <xs:sequence>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element name="accountSystemCode" type="xs:string"/>
      <xs:element name="marketingIndicator" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAccountMarketingIndicatorResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="updateAccountAlias">
    <xs:sequence>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element name="accountSystemCode" type="xs:string"/>
      <xs:element name="aliasName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAccountAliasResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getWholesaleData">
    <xs:sequence>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element name="accountSystemCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getWholesaleDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:WhslAcctAttributeSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getWholesaleDataByEnterprise">
    <xs:sequence>
      <xs:element name="enterpriseId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getWholesaleDataByEnterpriseResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:WhslAcctAttributeSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountsOrGroupsToEnterprise">
    <xs:sequence>
      <xs:element name="enterpriseId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" name="accounts" type="ns1:AccountRefSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountsOrGroupsToEnterpriseResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:RegAccountStatusSO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ping">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="pingResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountToEnterprise">
    <xs:sequence>
      <xs:element name="enterpriseId" type="xs:long"/>
      <xs:element name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="accountSystemCode" type="xs:string"/>
      <xs:element name="allowInactive" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assignAccountToEnterpriseResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ecaps.ctl.com/exceptions" xmlns:ns0="http://ecaps.ctl.com/serviceObject" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ecaps.ctl.com/exceptions">
  <xsd:element name="ServiceSystemException" nillable="true" type="ns0:FaultDetailSO"/>
  <xsd:element name="ServiceValidationException" nillable="true" type="ns0:FaultDetailSO"/>
  <xsd:element name="ServiceAuthenticationException" nillable="true" type="ns0:FaultDetailSO"/>
  <xsd:element name="ServiceAuthorizationException" nillable="true" type="ns0:FaultDetailSO"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAccountMappingResponse">
    <wsdl:part element="tns:getAccountMappingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccounts">
    <wsdl:part element="tns:getAccounts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountToEnterpriseResponse">
    <wsdl:part element="tns:assignAccountToEnterpriseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ping">
    <wsdl:part element="tns:ping" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAccountStatusResponse">
    <wsdl:part element="tns:checkAccountStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWholesaleData">
    <wsdl:part element="tns:getWholesaleData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeAccountFromEnterprise">
    <wsdl:part element="tns:removeAccountFromEnterprise" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceAuthenticationException">
    <wsdl:part element="ns1:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountToEnterpriseWithLookup">
    <wsdl:part element="tns:assignAccountToEnterpriseWithLookup" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountToUserResponse">
    <wsdl:part element="tns:assignAccountToUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitledAccounts">
    <wsdl:part element="tns:getEntitledAccounts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWholesaleDataByEnterprise">
    <wsdl:part element="tns:getWholesaleDataByEnterprise" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountDetailById">
    <wsdl:part element="tns:getAccountDetailById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountDetailByIdResponse">
    <wsdl:part element="tns:getAccountDetailByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceSystemException">
    <wsdl:part element="ns1:ServiceSystemException" name="ServiceSystemException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDiscountGroupsByUsernameResponse">
    <wsdl:part element="tns:getDiscountGroupsByUsernameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitledAccountsResponse">
    <wsdl:part element="tns:getEntitledAccountsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountsToUserResponse">
    <wsdl:part element="tns:assignAccountsToUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountToUsersResponse">
    <wsdl:part element="tns:assignAccountToUsersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDiscountGroupsByEnterprise">
    <wsdl:part element="tns:getDiscountGroupsByEnterprise" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDiscountGroupsByUsername">
    <wsdl:part element="tns:getDiscountGroupsByUsername" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeAccountFromUserResponse">
    <wsdl:part element="tns:removeAccountFromUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeAccountFromEnterpriseResponse">
    <wsdl:part element="tns:removeAccountFromEnterpriseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWholesaleDataByEnterpriseResponse">
    <wsdl:part element="tns:getWholesaleDataByEnterpriseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountsToUser">
    <wsdl:part element="tns:assignAccountsToUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAccountMarketingIndicatorResponse">
    <wsdl:part element="tns:updateAccountMarketingIndicatorResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWholesaleDataResponse">
    <wsdl:part element="tns:getWholesaleDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAccountStatus">
    <wsdl:part element="tns:checkAccountStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountsOrGroupsToEnterprise">
    <wsdl:part element="tns:assignAccountsOrGroupsToEnterprise" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceValidationException">
    <wsdl:part element="ns1:ServiceValidationException" name="ServiceValidationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountToUsers">
    <wsdl:part element="tns:assignAccountToUsers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountToEnterpriseWithLookupResponse">
    <wsdl:part element="tns:assignAccountToEnterpriseWithLookupResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceAuthorizationException">
    <wsdl:part element="ns1:ServiceAuthorizationException" name="ServiceAuthorizationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAccountAliasResponse">
    <wsdl:part element="tns:updateAccountAliasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountMapping">
    <wsdl:part element="tns:getAccountMapping" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAccountAlias">
    <wsdl:part element="tns:updateAccountAlias" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountToUser">
    <wsdl:part element="tns:assignAccountToUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountsResponse">
    <wsdl:part element="tns:getAccountsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAccountMarketingIndicator">
    <wsdl:part element="tns:updateAccountMarketingIndicator" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountToEnterprise">
    <wsdl:part element="tns:assignAccountToEnterprise" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignAccountsOrGroupsToEnterpriseResponse">
    <wsdl:part element="tns:assignAccountsOrGroupsToEnterpriseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDiscountGroupsByEnterpriseResponse">
    <wsdl:part element="tns:getDiscountGroupsByEnterpriseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeAccountFromUser">
    <wsdl:part element="tns:removeAccountFromUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountService">
    <wsdl:operation name="getEntitledAccounts">
      <wsdl:input message="tns:getEntitledAccounts" name="getEntitledAccounts">
    </wsdl:input>
      <wsdl:output message="tns:getEntitledAccountsResponse" name="getEntitledAccountsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountsToUser">
      <wsdl:input message="tns:assignAccountsToUser" name="assignAccountsToUser">
    </wsdl:input>
      <wsdl:output message="tns:assignAccountsToUserResponse" name="assignAccountsToUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceAuthorizationException" name="ServiceAuthorizationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeAccountFromEnterprise">
      <wsdl:input message="tns:removeAccountFromEnterprise" name="removeAccountFromEnterprise">
    </wsdl:input>
      <wsdl:output message="tns:removeAccountFromEnterpriseResponse" name="removeAccountFromEnterpriseResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccountMapping">
      <wsdl:input message="tns:getAccountMapping" name="getAccountMapping">
    </wsdl:input>
      <wsdl:output message="tns:getAccountMappingResponse" name="getAccountMappingResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkAccountStatus">
      <wsdl:input message="tns:checkAccountStatus" name="checkAccountStatus">
    </wsdl:input>
      <wsdl:output message="tns:checkAccountStatusResponse" name="checkAccountStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDiscountGroupsByEnterprise">
      <wsdl:input message="tns:getDiscountGroupsByEnterprise" name="getDiscountGroupsByEnterprise">
    </wsdl:input>
      <wsdl:output message="tns:getDiscountGroupsByEnterpriseResponse" name="getDiscountGroupsByEnterpriseResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountToUsers">
      <wsdl:input message="tns:assignAccountToUsers" name="assignAccountToUsers">
    </wsdl:input>
      <wsdl:output message="tns:assignAccountToUsersResponse" name="assignAccountToUsersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDiscountGroupsByUsername">
      <wsdl:input message="tns:getDiscountGroupsByUsername" name="getDiscountGroupsByUsername">
    </wsdl:input>
      <wsdl:output message="tns:getDiscountGroupsByUsernameResponse" name="getDiscountGroupsByUsernameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccountDetailById">
      <wsdl:input message="tns:getAccountDetailById" name="getAccountDetailById">
    </wsdl:input>
      <wsdl:output message="tns:getAccountDetailByIdResponse" name="getAccountDetailByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeAccountFromUser">
      <wsdl:input message="tns:removeAccountFromUser" name="removeAccountFromUser">
    </wsdl:input>
      <wsdl:output message="tns:removeAccountFromUserResponse" name="removeAccountFromUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccounts">
      <wsdl:input message="tns:getAccounts" name="getAccounts">
    </wsdl:input>
      <wsdl:output message="tns:getAccountsResponse" name="getAccountsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountToUser">
      <wsdl:input message="tns:assignAccountToUser" name="assignAccountToUser">
    </wsdl:input>
      <wsdl:output message="tns:assignAccountToUserResponse" name="assignAccountToUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountToEnterpriseWithLookup">
      <wsdl:input message="tns:assignAccountToEnterpriseWithLookup" name="assignAccountToEnterpriseWithLookup">
    </wsdl:input>
      <wsdl:output message="tns:assignAccountToEnterpriseWithLookupResponse" name="assignAccountToEnterpriseWithLookupResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAccountMarketingIndicator">
      <wsdl:input message="tns:updateAccountMarketingIndicator" name="updateAccountMarketingIndicator">
    </wsdl:input>
      <wsdl:output message="tns:updateAccountMarketingIndicatorResponse" name="updateAccountMarketingIndicatorResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAccountAlias">
      <wsdl:input message="tns:updateAccountAlias" name="updateAccountAlias">
    </wsdl:input>
      <wsdl:output message="tns:updateAccountAliasResponse" name="updateAccountAliasResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWholesaleData">
      <wsdl:input message="tns:getWholesaleData" name="getWholesaleData">
    </wsdl:input>
      <wsdl:output message="tns:getWholesaleDataResponse" name="getWholesaleDataResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWholesaleDataByEnterprise">
      <wsdl:input message="tns:getWholesaleDataByEnterprise" name="getWholesaleDataByEnterprise">
    </wsdl:input>
      <wsdl:output message="tns:getWholesaleDataByEnterpriseResponse" name="getWholesaleDataByEnterpriseResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountsOrGroupsToEnterprise">
      <wsdl:input message="tns:assignAccountsOrGroupsToEnterprise" name="assignAccountsOrGroupsToEnterprise">
    </wsdl:input>
      <wsdl:output message="tns:assignAccountsOrGroupsToEnterpriseResponse" name="assignAccountsOrGroupsToEnterpriseResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceAuthorizationException" name="ServiceAuthorizationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:ping" name="ping">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse" name="pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignAccountToEnterprise">
      <wsdl:input message="tns:assignAccountToEnterprise" name="assignAccountToEnterprise">
    </wsdl:input>
      <wsdl:output message="tns:assignAccountToEnterpriseResponse" name="assignAccountToEnterpriseResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceValidationException" name="ServiceValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceSystemException" name="ServiceSystemException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceAuthenticationException" name="ServiceAuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceSoapBinding" type="tns:AccountService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="assignAccountToEnterprise">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignAccountToEnterprise">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignAccountToEnterpriseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDiscountGroupsByUsername">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDiscountGroupsByUsername">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDiscountGroupsByUsernameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountToUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignAccountToUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignAccountToUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountToUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignAccountToUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignAccountToUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAccountAlias">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateAccountAlias">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAccountAliasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccountMapping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAccountMapping">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountMappingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ping">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccounts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAccounts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEntitledAccounts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEntitledAccounts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntitledAccountsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWholesaleData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getWholesaleData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWholesaleDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAccountMarketingIndicator">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateAccountMarketingIndicator">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAccountMarketingIndicatorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountsOrGroupsToEnterprise">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignAccountsOrGroupsToEnterprise">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignAccountsOrGroupsToEnterpriseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceAuthorizationException">
        <soap:fault name="ServiceAuthorizationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccountDetailById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAccountDetailById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountDetailByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountsToUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignAccountsToUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignAccountsToUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceAuthorizationException">
        <soap:fault name="ServiceAuthorizationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignAccountToEnterpriseWithLookup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignAccountToEnterpriseWithLookup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignAccountToEnterpriseWithLookupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeAccountFromUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeAccountFromUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeAccountFromUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkAccountStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkAccountStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkAccountStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWholesaleDataByEnterprise">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getWholesaleDataByEnterprise">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWholesaleDataByEnterpriseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeAccountFromEnterprise">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeAccountFromEnterprise">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeAccountFromEnterpriseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceAuthenticationException">
        <soap:fault name="ServiceAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDiscountGroupsByEnterprise">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDiscountGroupsByEnterprise">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDiscountGroupsByEnterpriseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceValidationException">
        <soap:fault name="ServiceValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port binding="tns:AccountServiceSoapBinding" name="AccountServicePort">
      <soap:address location="https://ecaps-int1.foss.dev.qintra.com:40133/ecaps/service/AccountService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>